TabStrip {
  background-color: white;
  color: darkgray;
}

TabStripItem.tabstripitem {
  color: darkgray;
  background-color: white;
  margin-top: 4;
}

TabStripItem.tabstripitem:active {
  color: #1c8445;
  background-color: mintcream;
  margin-top: 4;
}

.text-name-label {
  font-family: "Kanit", "Kanit-Bold";
  font-size: 18;
}

.text-label {
  font-family: "Kanit", "Kanit-Light";
  font-size: 14;
}

.card-doctor-profile {
  border-radius: 20;
  /* background-color: white; */
  background-image: url("~/src/img/doctor-card.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #454058;
}

.listview-patient {
  /* margin-left: 8;
  margin-right: 8;
  margin-bottom: 8; */
  border-radius: 30 30 0 0;
  background-color: #fee6d2;
  /* color: white; */
}

.listview-item {
  /* margin-top: 16;
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 16; */
  /* margin-top:8 ;
  margin-left: 16;
  margin-right: 16; */
  border-radius: 20;
  background-color: white;
}

.patient-image {
  margin-left: 8;
  border-radius: 50%;
  background-color: crimson;
}

.add-doctor-btn{
  border-radius: 20;
  padding: 16;
  background-color: darkorange; 
  color: white;
}
