.listview-content {
  /* background-image: url("app/views/main-page/src/checkin.jpg") no-repeat; */
  /* width: 95%; */
  /* height: 100%; */
  margin-top: 8;
  margin-left: 8;
  margin-right: 8;
  /* margin-left: 8;
    margin-right: 8; */
  /* margin-bottom: 8; */
  border-radius: 8;
  background-color: white;
  /* color: white; */
}
